.container{
border:1px solid;
width: 1000px;
height:1000px;
overflow-y:auto;
}
header{
text-align:center;
height:60px;
background-color:rgb(114, 113, 168);
font-family:Cursive,sans-serif;
color:White;
font-size:30px;
}
.content{
border:1px solid;
margin-top:10px;
margin-left:60px;
margin-right:60px;
height:1000px;
padding-left:10px;
padding-right:10px;
padding-top:20px;
}