.text{
display:block;
width:350px;
height:150px;
margin-top:15px;
}
.text.both{
resize:both;
}
.text.none{
resize:none;
}
.text.horizontal{
resize:horizontal;
}
.text.vertical{
resize:vertical;
}