.shape{
display:flex;
}
.container{
display: flex;
}
.barbara{
height:150px;
width:150px;
background-image:url(barbara.jpg);
background-size:contain;
}
.grayscale{
margin-left:2px;
height:150px;
width:150px;
background-image:url(barbara.jpg);
background-size:contain;
filter:grayscale(100%);
}
.saturate{
margin-left:2px;
height:150px;
width:150px;
background-image:url(barbara.jpg);
background-size:contain;
filter:saturate(0.5);
}
.invert{
margin-left:2px;
height:150px;
width:150px;
background-image:url(barbara.jpg);
background-size:contain;
filter:invert(100%);
}
.shape{
display:flex;
}
.sepia{
margin-left:2px;
height:150px;
width:150px;
background-image:url(barbara.jpg);
background-size:contain;
filter:sepia(100%);
}
.huerotate{
margin-left:2px;
height:150px;
width:150px;
background-image:url(barbara.jpg);
background-size:contain;
filter:hue-rotate(90deg);
}
.contrast{
margin-left:2px;
height:150px;
width:150px;
background-image:url(barbara.jpg);
background-size:contain;
filter:contrast(50%);
}
.square{
margin-left:25px;
}