.composition{
width:600px;
height:400px;
position:relative;
background-image:url("bg.jpg");
}
.shape{
position: absolute;
}
.shape.planet-3{
left:140px;
bottom:20px;
z-index:4;
}
.shape.ufo{
left:125px;
bottom:50px;
z-index:5;
}
.shape.planet-2{
left:55px;
top:60px;
z-index:2;
}
.shape.spaceship{
left:140px;
top:155px;
z-index:3;
}
.shape.planet-1{
left:180px;
top:25px;
}
.shape.asteroid{
right:110px;
top:80px;
}
.shape.superman{
bottom:0;
right:30px;
}